In [2]:
!pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-1.0.0-py3-none-any.whl (70 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 70.6/70.6 kB 193.2 kB/s eta 0:00:00 0:00:01
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from kagglehub) (23.0)
Requirement already satisfied: requests in /opt/conda/lib/python3.10/site-packages (from kagglehub) (2.28.2)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.10/site-packages (from kagglehub) (4.65.0)
Requirement already satisfied: pyyaml in /opt/conda/lib/python3.10/site-packages (from kagglehub) (6.0)
Collecting kagglesdk<1.0,>=0.1.14
  Downloading kagglesdk-0.1.15-py3-none-any.whl (160 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 160.4/160.4 kB 799.1 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: protobuf in /opt/conda/lib/python3.10/site-packages (from kagglesdk<1.0,>=0.1.14->kagglehub) (3.20.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests->kagglehub) (2023.5.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests->kagglehub) (1.26.15)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests->kagglehub) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests->kagglehub) (3.4)
Installing collected packages: kagglesdk, kagglehub
Successfully installed kagglehub-1.0.0 kagglesdk-0.1.15

In [3]:
import kagglehub
# Download latest version
path = kagglehub.dataset_download("yingwurenjian/chicago-divvy-bicycle-sharing-data")

print("Path to dataset files:", path)

Downloading to /home/jovyan/.cache/kagglehub/datasets/yingwurenjian/chicago-divvy-bicycle-sharing-data/1.archive...

100%|██████████| 629M/629M [00:07<00:00, 89.2MB/s]

Extracting files...

Path to dataset files: /home/jovyan/.cache/kagglehub/datasets/yingwurenjian/chicago-divvy-bicycle-sharing-data/versions/1

In [40]:
import pandas as pd
df = pd.read_csv(path+"/data.csv", nrows=1_000_000)

In [41]:
from sklearn.model_selection import train_test_split

df, df_final_holdout = train_test_split(df, test_size=0.5, random_state=42)

In [42]:

df_final_holdout = df_final_holdout.reset_index()

In [43]:

df = df.reset_index()

In [44]:

df_training, df_test = train_test_split(df, test_size=1/3, random_state=42)

In [45]:
df_training = df_training.reset_index()
# this the data that will be used to train the data

In [46]:
df_training

,level_0,index,trip_id,year,month,week,day,hour,usertype,gender,...,from_station_id,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_id,to_station_name,latitude_end,longitude_end,dpcapacity_end
0,135822,351158,1571305,2014,5,19,0,6,Subscriber,Male,...,236,Sedgwick St & Schiller St,41.907576,-87.638517,15.0,98,LaSalle St & Washington St,41.882664,-87.632530,15.0
1,493709,658250,2718802,2014,7,30,1,12,Subscriber,Female,...,49,Dearborn St & Monroe St,41.881320,-87.629521,23.0,164,Franklin St & Lake St,41.885837,-87.635500,23.0
2,456256,117949,2093127,2014,6,24,5,9,Subscriber,Female,...,118,Sedgwick St & North Ave,41.910579,-87.638618,19.0,313,Lakeview Ave & Fullerton Pkwy,41.925858,-87.638973,19.0
3,337375,690107,2642882,2014,7,29,4,13,Subscriber,Male,...,37,Dearborn St & Adams St,41.879356,-87.629791,19.0,106,State St & Pearson St,41.897448,-87.628722,27.0
4,275839,2005,2351636,2014,6,27,0,16,Subscriber,Male,...,191,Canal St & Monroe St,41.880700,-87.639470,23.0,195,Columbus Dr & Randolph St,41.884728,-87.619521,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333328,259178,303271,1672549,2014,5,20,2,12,Subscriber,Male,...,33,State St & Van Buren St,41.877181,-87.627844,27.0,273,Michigan Ave & 18th St,41.857937,-87.623633,15.0
333329,365838,280691,1724661,2014,5,21,0,19,Subscriber,Female,...,56,Desplaines St & Kinzie St,41.888716,-87.644448,19.0,66,Clinton St & Lake St,41.885833,-87.641382,19.0
333330,131932,449096,1362707,2014,4,15,1,18,Subscriber,Male,...,111,Sedgwick St & Huron St,41.894666,-87.638437,19.0,91,Clinton St & Washington Blvd,41.883380,-87.641170,31.0
333331,146867,373557,1525616,2014,4,18,1,8,Subscriber,Male,...,186,Ogden Ave & Race Ave,41.891795,-87.658751,15.0,196,Cityfront Plaza & N Water St,41.889875,-87.621994,19.0
333332,121958,132545,2065323,2014,6,24,3,13,Subscriber,Female,...,160,Campbell Ave & North Ave,41.910535,-87.689556,15.0,219,Damen Ave & Cortland St,41.916027,-87.677411,11.0

In [47]:
df_test = df_test.reset_index()

In [48]:
df_training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333333 entries, 0 to 333332
Data columns (total 25 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   level_0            333333 non-null  int64
 1   index              333333 non-null  int64
 2   trip_id            333333 non-null  int64
 3   year               333333 non-null  int64
 4   month              333333 non-null  int64
 5   week               333333 non-null  int64
 6   day                333333 non-null  int64
 7   hour               333333 non-null  int64
 8   usertype           333333 non-null  object
 9   gender             333333 non-null  object
 10  starttime          333333 non-null  object
 11  stoptime           333333 non-null  object
 12  tripduration       333333 non-null  float64
 13  temperature        333333 non-null  float64
 14  events             333333 non-null  object
 15  from_station_id    333333 non-null  int64
 16  from_station_name  333333 non-null  object
 17  latitude_start     333333 non-null  float64
 18  longitude_start    333333 non-null  float64
 19  dpcapacity_start   333333 non-null  float64
 20  to_station_id      333333 non-null  int64
 21  to_station_name    333333 non-null  object
 22  latitude_end       333333 non-null  float64
 23  longitude_end      333333 non-null  float64
 24  dpcapacity_end     333333 non-null  float64
dtypes: float64(8), int64(10), object(7)
memory usage: 63.6+ MB

In [25]:
print(df_training['events'].nunique())
print(df_training['from_station_id'].nunique())
print(df_training['to_station_name'].nunique())

6
300
311

In [29]:
""" 1) We need to remove stoptime as if the model has both 
information about start time and stop time it can just 
compute tripduration from these two"""
""" 2) We are also removing starttime as the same information 
is captured in the year, month, week, day, hour variables"""
""" 3) we are also removing trip_id as it is identifier for trip not real predictor """
""" 4) We will convert usertype, gender, events into class variable"""
""" 5) We will add variable trip_length as the euclidean distance 
between start and end (lattitude and longitude)
we maintain the start and end locations because they may capture information of 
local phenomena"""
""" 6) There are too many stations from_station_id
Suggestion: Bucket by level of business into 10 buckets (by count of trip originating)
same thing will apply to (to_station_name)"""

# drop columns mentioned above

#df_training = df_training.drop(columns = ['starttime',
##                                        'trip_id'])
#

In [30]:
# converting predictors to class variables 
df_training = pd.get_dummies(df_training, columns=['usertype',
                                                   'gender'],
                             drop_first=True)

df_test = pd.get_dummies(df_test, columns=['usertype',
                                                   'gender'],
                             drop_first=True)

In [51]:
# converts start lattitude and longitude to Manhattan distance  
import numpy as np 
def manhattan_distance(lat1, lon1, lat2, lon2):
    # Convert degree differences
    dlat = np.abs(lat1 - lat2)
    dlon = np.abs(lon1 - lon2)
    
    # Convert to kilometers
    lat_km = dlat * 111
    lon_km = dlon * 111 * np.cos(np.radians((lat1 + lat2) / 2))
    
    return lat_km + lon_km

df_training['manhattan_km'] = manhattan_distance(
    df_training['latitude_start'],
    df_training['longitude_start'],
    df_training['latitude_end'],
    df_training['longitude_end'])

df_test['manhattan_km'] = manhattan_distance(
    df_test['latitude_start'],
    df_test['longitude_start'],
    df_test['latitude_end'],
    df_test['longitude_end'])

In [50]:
df_training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333333 entries, 0 to 333332
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   level_0            333333 non-null  int64
 1   index              333333 non-null  int64
 2   trip_id            333333 non-null  int64
 3   year               333333 non-null  int64
 4   month              333333 non-null  int64
 5   week               333333 non-null  int64
 6   day                333333 non-null  int64
 7   hour               333333 non-null  int64
 8   usertype           333333 non-null  object
 9   gender             333333 non-null  object
 10  starttime          333333 non-null  object
 11  stoptime           333333 non-null  object
 12  tripduration       333333 non-null  float64
 13  temperature        333333 non-null  float64
 14  events             333333 non-null  object
 15  from_station_id    333333 non-null  int64
 16  from_station_name  333333 non-null  object
 17  latitude_start     333333 non-null  float64
 18  longitude_start    333333 non-null  float64
 19  dpcapacity_start   333333 non-null  float64
 20  to_station_id      333333 non-null  int64
 21  to_station_name    333333 non-null  object
 22  latitude_end       333333 non-null  float64
 23  longitude_end      333333 non-null  float64
 24  dpcapacity_end     333333 non-null  float64
 25  manhattan_km       333333 non-null  float64
dtypes: float64(9), int64(10), object(7)
memory usage: 66.1+ MB

In [ ]:
# fitting a linear model to tripduration = B_0 + B_1*distance_km + B_2*user_type + B_3*gender